flujo3.json
        {
            "updatedAt": "2026-03-11T21:49:08.677Z",
            "createdAt": "2026-03-11T20:26:54.959Z",
            "id": "aCWmHFBsyhw48j5p",
            "name": "Registro_gane",
            "active": true,
            "isArchived": false,
            "nodes": [
                {
                    "parameters": {
                        "jsCode": "const entry = $input.first().json;\n\n// Estructura REAL que entrega el trigger de n8n\nconst from = entry.messages?.[0]?.from || '';\nconst phoneNumberId = entry.metadata?.phone_number_id || '';\nconst contactName = entry.contacts?.[0]?.profile?.name || '';\n\nconst msg = entry.messages?.[0];\nconst msgType = msg?.type || 'text';\n\nlet textContent = '';\nlet mediaId = '';\nlet mediaUrl = '';\n\nif (msgType === 'text') {\n  textContent = msg?.text?.body || '';\n} else if (msgType === 'image') {\n  mediaId = msg?.image?.id || '';\n  mediaUrl = msg?.image?.url || '';          // ← YA viene la URL directa!\n  textContent = msg?.image?.caption || '[IMAGEN_ENVIADA]';\n} else if (msgType === 'document') {\n  mediaId = msg?.document?.id || '';\n  textContent = '[DOCUMENTO_ENVIADO]';\n}\n\nreturn [{\n  json: {\n    from,\n    phoneNumberId,\n    contactName,    // ← BONUS: nombre del contacto de WhatsApp\n    msgType,\n    textContent,\n    mediaId,\n    mediaUrl,       // ← URL directa disponible\n    hasImage: msgType === 'image'\n  }\n}];"
                    },
                    "type": "n8n-nodes-base.code",
                    "typeVersion": 2,
                    "position": [
                        -96,
                        624
                    ],
                    "id": "664a3582-84b2-4737-a6cf-eb2f6af6ed06",
                    "name": "Parsear Mensaje"
                },
                {
                    "parameters": {
                        "updates": [
                            "messages"
                        ],
                        "options": {
                            "messageStatusUpdates": [
                                "failed"
                            ]
                        }
                    },
                    "type": "n8n-nodes-base.whatsAppTrigger",
                    "typeVersion": 1,
                    "position": [
                        -368,
                        624
                    ],
                    "id": "bc068abe-6c4f-4c46-8f35-3925968406b8",
                    "name": "WhatsApp Trigger1",
                    "webhookId": "214c5ca8-7753-4840-910b-047c359a0390",
                    "credentials": {
                        "whatsAppTriggerApi": {
                            "id": "uXVVQK04P6RDw5nN",
                            "name": "WhatsApp OAuth account 2"
                        }
                    }
                },
                {
                    "parameters": {
                        "method": "POST",
                        "url": "http://192.168.2.91:8033/whatsapp/interact",
                        "sendBody": true,
                        "bodyParameters": {
                            "parameters": [
                                {
                                    "name": "telefono",
                                    "value": "={{ $('Parsear Mensaje').item.json.from }}"
                                },
                                {
                                    "name": "texto",
                                    "value": "={{ $('Parsear Mensaje').item.json.textContent }}"
                                },
                                {
                                    "name": "media_url",
                                    "value": "={{ $('HTTP Request3').isExecuted ? $('HTTP Request3').first().json.url : null }}"
                                },
                                {
                                    "name": "media_type",
                                    "value": "image"
                                },
                                {
                                    "name": "extracted_cedula",
                                    "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.extracted_cedula :null}}"
                                },
                                {
                                    "name": "extracted_nombre",
                                    "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.extracted_nombre :null}}"
                                },
                                {
                                    "name": "tipo_documento_detectado",
                                    "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.tipo_documento_detectado :null}}"
                                },
                                {
                                    "name": "extracted_id_tra",
                                    "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.extracted_id_tra :null}}"
                                },
                                {
                                    "name": "extracted_identificacion",
                                    "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.extracted_identificacion :null}}"
                                },
                                {
                                    "name": "extracted_valor",
                                    "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.extracted_valor :null}}"
                                }
                            ]
                        },
                        "options": {}
                    },
                    "type": "n8n-nodes-base.httpRequest",
                    "typeVersion": 4.1,
                    "position": [
                        1968,
                        576
                    ],
                    "id": "c5c03ddf-7475-4c05-adb3-cb1d51b0bc24",
                    "name": "Orquestador Backend"
                },
                {
                    "parameters": {
                        "operation": "send",
                        "phoneNumberId": "={{ $('Parsear Mensaje').first().json.phoneNumberId }}",
                        "recipientPhoneNumber": "={{ $('Parsear Mensaje').item.json.from }}",
                        "textBody": "={{ $json.mensaje }}",
                        "additionalFields": {
                            "previewUrl": false
                        }
                    },
                    "type": "n8n-nodes-base.whatsApp",
                    "typeVersion": 1.1,
                    "position": [
                        2144,
                        576
                    ],
                    "id": "81d49954-bf72-49e7-9efd-d99b51892d77",
                    "name": "Enviar Respuesta2",
                    "webhookId": "ef04f80c-bec6-46f4-9858-409cf0fcb0eb",
                    "credentials": {
                        "whatsAppApi": {
                            "id": "x3qXu5Ivicl8jtS4",
                            "name": "WhatsApp account 2"
                        }
                    }
                },
                {
                    "parameters": {
                        "url": "={{ $json.mediaUrl }}",
                        "sendHeaders": true,
                        "headerParameters": {
                            "parameters": [
                                {
                                    "name": "Authorization",
                                    "value": "Bearer EAAJYO0zVZB9IBQ1iqQSmHa1CwGSA470NaAjd5BB4hflyKFLgrThneW79ZBZAL4RmnzQJpMVpNryb19dm5Noz1NEZCoG5iUcOy8684LM7UqXEIBZCJrrNANoCt8bdIRgMi9NZBhycLEnKSJ7qfzknavfSh8plVtSYfXgJJRQOPAMm58MVlfshZAJLG5WGGBgZACsgnQZDZD"
                                }
                            ]
                        },
                        "options": {}
                    },
                    "type": "n8n-nodes-base.httpRequest",
                    "typeVersion": 4.2,
                    "position": [
                        368,
                        368
                    ],
                    "id": "e8457d8d-2d3b-42e1-a495-005bca920b10",
                    "name": "1. Obtener URL de Imagen1",
                    "notes": "Llama a la API de Meta para obtener la URL temporal de la imagen. El media_id viene del mensaje."
                },
                {
                    "parameters": {
                        "jsCode": "// Convertir imagen binaria a base64 para enviarsela a OpenAI Vision\nconst binaryData = $input.first().binary?.data;\n\nif (!binaryData) {\n  throw new Error('No se recibió imagen binaria');\n}\n\n// n8n guarda el binario, lo pasamos como referencia\nconst base64Image = binaryData.data; // Ya viene en base64 desde n8n\nconst mimeType = binaryData.mimeType || 'image/jpeg';\n\n// Recuperar datos del mensaje original (de 2 nodos atrás)\n// Los pasamos como contexto para el agente\nreturn [{\n  json: {\n    base64Image,\n    mimeType,\n    imageDataUrl: `data:${mimeType};base64,${base64Image}`\n  },\n  binary: $input.first().binary\n}];\n"
                    },
                    "type": "n8n-nodes-base.code",
                    "typeVersion": 2,
                    "position": [
                        560,
                        352
                    ],
                    "id": "e034179c-d9b6-45cc-b62c-c631e803d0c4",
                    "name": "3. Preparar Base"
                },
                {
                    "parameters": {
                        "jsCode": "const binary = $input.first().binary?.data;\nconst json = $input.first().json;\n\nreturn [{\n  json: {\n    ...json,\n    // Guardar el binario como base64 en el JSON para no perderlo\n    imagenBase64: binary?.data || '',\n    imagenMimeType: binary?.mimeType || 'image/jpeg',\n    imagenFileName: binary?.fileName || 'colilla.jpg'\n  }\n  // NO pasar binary aquí, el agente no lo necesita\n}];"
                    },
                    "type": "n8n-nodes-base.code",
                    "typeVersion": 2,
                    "position": [
                        688,
                        336
                    ],
                    "id": "7f9c174e-589c-4f5f-a47c-9f2894433cf9",
                    "name": "Code in JavaScript5"
                },
                {
                    "parameters": {
                        "jsCode": "// Tomar el binario DIRECTO del nodo que descargó la imagen\nconst binary = $('1. Obtener URL de Imagen1').first().binary?.data;\n\nif (!binary) {\n  throw new Error('No se encontró binario en el nodo de descarga');\n}\n\nreturn [{\n  json: $input.first().json,\n  binary: {\n    data: binary  // binario original sin tocar\n  }\n}];"
                    },
                    "type": "n8n-nodes-base.code",
                    "typeVersion": 2,
                    "position": [
                        912,
                        336
                    ],
                    "id": "bbb5ed97-6cb7-4955-b107-4717ea28e049",
                    "name": "Code in JavaScript6"
                },
                {
                    "parameters": {
                        "method": "POST",
                        "url": "http://192.168.2.91:8033/upload-receipt?sorteo_nombre=WhatsApp",
                        "sendBody": true,
                        "contentType": "multipart-form-data",
                        "bodyParameters": {
                            "parameters": [
                                {
                                    "parameterType": "formBinaryData",
                                    "name": "file",
                                    "inputDataFieldName": "data"
                                },
                                {
                                    "name": "key",
                                    "value": "=1"
                                }
                            ]
                        },
                        "options": {}
                    },
                    "type": "n8n-nodes-base.httpRequest",
                    "typeVersion": 4.2,
                    "position": [
                        1040,
                        336
                    ],
                    "id": "a56f691e-ad56-4b53-a3b9-7f308257f0be",
                    "name": "HTTP Request3"
                },
                {
                    "parameters": {
                        "jsCode": "// Tomar el binario DIRECTO del nodo que descargó la imagen\nconst binary = $('1. Obtener URL de Imagen1').first().binary?.data;\n\nif (!binary) {\n  throw new Error('No se encontró binario en el nodo de descarga');\n}\n\nreturn [{\n  json: $input.first().json,\n  binary: {\n    data: binary  // binario original sin tocar\n  }\n}];"
                    },
                    "type": "n8n-nodes-base.code",
                    "typeVersion": 2,
                    "position": [
                        1168,
                        320
                    ],
                    "id": "0b871e8f-be74-48ca-bbde-85cddbc01086",
                    "name": "Code in JavaScript7"
                },
                {
                    "parameters": {},
                    "type": "n8n-nodes-base.merge",
                    "typeVersion": 3.2,
                    "position": [
                        1760,
                        576
                    ],
                    "id": "d93dd891-261d-4fd2-9db4-edd44935f574",
                    "name": "Merge1"
                },
                {
                    "parameters": {
                        "conditions": {
                            "options": {
                                "caseSensitive": true,
                                "leftValue": "",
                                "typeValidation": "strict",
                                "version": 1
                            },
                            "conditions": [
                                {
                                    "id": "check-image",
                                    "leftValue": "={{ $json.hasImage }}",
                                    "rightValue": true,
                                    "operator": {
                                        "type": "boolean",
                                        "operation": "equals"
                                    }
                                }
                            ],
                            "combinator": "and"
                        },
                        "options": {}
                    },
                    "type": "n8n-nodes-base.if",
                    "typeVersion": 2,
                    "position": [
                        144,
                        576
                    ],
                    "id": "f177ee74-f95a-4977-aa0b-1379f27ecb7d",
                    "name": "¿Es Imagen?2"
                },
                {
                    "parameters": {
                        "promptType": "define",
                        "text": "={{ $binary.data.fileName }}",
                        "options": {
                            "systemMessage": "=Eres un experto en extracción de datos de documentos de identidad de Colombia (Cédula de Ciudadanía) y colillas de sorteos de lotería.\n\nTu objetivo es analizar la imagen proporcionada y extraer la información real en un formato JSON estricto.\n\n### DOCUMENTOS A PROCESAR:\n1. CÉDULA DE CIUDADANÍA:\n   - Extrae el número de cédula (sin puntos ni letras).\n   - Extrae el nombre completo de la persona.\n\n2. COLILLA DE SORTEO - HAY 2 POSIBLES FORMATOS:\n   FORMATO 1 - BETPLAY: La imagen en la parte superior dice \"CORREDOR EMPRESARIAL S.A\".\n       Extrae los siguientes datos: ID.TRA, IDENTIFICACION y VALOR RECARGA.\n   FORMATO 2 - CHANCE: Inicia con \"V:XXX***\".\n       De ese formato extrae únicamente: ID.TRA y TOTAL (el total está al final, ejemplo \"Total$6000\" → extraes \"6000\").\n   3. si es otro tipo de formato debes marcarlo como invalido.\n### REGLAS DE SALIDA:\n- Responde ÚNICAMENTE con un objeto JSON válido, sin texto adicional.\n- Si no encuentras un dato, ponlo como null.\n- Limpia los números eliminando puntos, comas o espacios.\n\n### ESTRUCTURA DEL JSON (usa EXACTAMENTE estos nombres de campo):\n{\n  \"extracted_cedula\": \"solo_numeros_o_null\",\n  \"extracted_nombre\": \"nombre_completo_o_null\",\n  \"tipo_documento_detectado\": \"cedula\" | \"betplay\" | \"chance\" | \"invalido\",\n  \"extracted_id_tra\": \"numero_del_id_tra_o_null\",\n  \"extracted_identificacion\": \"identificacion_o_null\",\n  \"extracted_valor\": \"valor_total_o_null\"\n}\n\nReglas:\n\nNunca inventar informacion. no procesar otros formatos de tiekts diferentes a betplay y chance\n"
                        }
                    },
                    "type": "@n8n/n8n-nodes-langchain.agent",
                    "typeVersion": 3.1,
                    "position": [
                        1328,
                        320
                    ],
                    "id": "6c53007a-616e-41cb-b8c1-29aa2d716866",
                    "name": "AI Agent"
                },
                {
                    "parameters": {
                        "model": {
                            "__rl": true,
                            "mode": "list",
                            "value": "gpt-4.1-mini"
                        },
                        "builtInTools": {},
                        "options": {}
                    },
                    "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
                    "typeVersion": 1.3,
                    "position": [
                        1312,
                        480
                    ],
                    "id": "e27e42a3-b66c-4060-8175-2178cb749eac",
                    "name": "OpenAI Chat Model",
                    "credentials": {
                        "openAiApi": {
                            "id": "Y1SSWu05zhIDWuc3",
                            "name": "OpenAi account"
                        }
                    }
                },
                {
                    "parameters": {
                        "jsCode": "let output = $input.first().json.output || \"\";\n\n// 1. Limpiar bloques de código Markdown ```json ... ```\noutput = output.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\n// 2. Extraer el JSON real\nlet jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  return [{ \n    json: { \n      extracted_cedula: null, \n      extracted_nombre: null, \n      tipo_documento_detectado: null,\n      extracted_id_tra: null,\n      extracted_identificacion: null,\n      extracted_valor: null,\n      error: \"No se encontró JSON en la respuesta del agente\" \n    } \n  }];\n}\n\ntry {\n  let data = JSON.parse(jsonMatch[0]);\n  \n  return [{\n    json: {\n      extracted_cedula:          data.extracted_cedula         || null,\n      extracted_nombre:          data.extracted_nombre         || null,\n      tipo_documento_detectado:  data.tipo_documento_detectado || null,\n      extracted_id_tra:          data.extracted_id_tra         || null,\n      extracted_identificacion:  data.extracted_identificacion || null,\n      extracted_valor:           data.extracted_valor          || null\n    }\n  }];\n\n} catch (e) {\n  return [{ \n    json: { \n      extracted_cedula: null, \n      extracted_nombre: null, \n      tipo_documento_detectado: null,\n      extracted_id_tra: null,\n      extracted_identificacion: null,\n      extracted_valor: null,\n      error: \"JSON inválido: \" + e.message \n    } \n  }];\n}\n"
                    },
                    "type": "n8n-nodes-base.code",
                    "typeVersion": 2,
                    "position": [
                        1680,
                        320
                    ],
                    "id": "4538d0fb-86d3-4bd9-8892-b6e5f2b82638",
                    "name": "Parsear IA"
                }
            ],
            "connections": {
                "Parsear Mensaje": {
                    "main": [
                        [
                            {
                                "node": "¿Es Imagen?2",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                },
                "WhatsApp Trigger1": {
                    "main": [
                        [
                            {
                                "node": "Parsear Mensaje",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                },
                "Orquestador Backend": {
                    "main": [
                        [
                            {
                                "node": "Enviar Respuesta2",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                },
                "1. Obtener URL de Imagen1": {
                    "main": [
                        [
                            {
                                "node": "3. Preparar Base",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                },
                "3. Preparar Base": {
                    "main": [
                        [
                            {
                                "node": "Code in JavaScript5",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                },
                "Code in JavaScript5": {
                    "main": [
                        [
                            {
                                "node": "Code in JavaScript6",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                },
                "Code in JavaScript6": {
                    "main": [
                        [
                            {
                                "node": "HTTP Request3",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                },
                "HTTP Request3": {
                    "main": [
                        [
                            {
                                "node": "Code in JavaScript7",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                },
                "Code in JavaScript7": {
                    "main": [
                        [
                            {
                                "node": "AI Agent",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                },
                "Merge1": {
                    "main": [
                        [
                            {
                                "node": "Orquestador Backend",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                },
                "¿Es Imagen?2": {
                    "main": [
                        [
                            {
                                "node": "1. Obtener URL de Imagen1",
                                "type": "main",
                                "index": 0
                            }
                        ],
                        [
                            {
                                "node": "Merge1",
                                "type": "main",
                                "index": 1
                            }
                        ]
                    ]
                },
                "OpenAI Chat Model": {
                    "ai_languageModel": [
                        [
                            {
                                "node": "AI Agent",
                                "type": "ai_languageModel",
                                "index": 0
                            }
                        ]
                    ]
                },
                "AI Agent": {
                    "main": [
                        [
                            {
                                "node": "Parsear IA",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                },
                "Parsear IA": {
                    "main": [
                        [
                            {
                                "node": "Merge1",
                                "type": "main",
                                "index": 0
                            }
                        ]
                    ]
                }
            },
            "settings": {
                "executionOrder": "v1",
                "availableInMCP": false
            },
            "staticData": null,
            "meta": {
                "templateCredsSetupCompleted": true
            },
            "pinData": {},
            "versionId": "c061a46c-4eaa-4bb5-9d84-76218f3e3fdc",
            "activeVersionId": "c061a46c-4eaa-4bb5-9d84-76218f3e3fdc",
            "triggerCount": 1,
            "shared": [
                {
                    "updatedAt": "2026-03-11T20:26:54.959Z",
                    "createdAt": "2026-03-11T20:26:54.959Z",
                    "role": "workflow:owner",
                    "workflowId": "aCWmHFBsyhw48j5p",
                    "projectId": "rlczMrsM8q3fSGQZ"
                }
            ],
            "activeVersion": {
                "updatedAt": "2026-03-11T21:49:08.674Z",
                "createdAt": "2026-03-11T21:49:08.674Z",
                "versionId": "c061a46c-4eaa-4bb5-9d84-76218f3e3fdc",
                "workflowId": "aCWmHFBsyhw48j5p",
                "nodes": [
                    {
                        "parameters": {
                            "jsCode": "const entry = $input.first().json;\n\n// Estructura REAL que entrega el trigger de n8n\nconst from = entry.messages?.[0]?.from || '';\nconst phoneNumberId = entry.metadata?.phone_number_id || '';\nconst contactName = entry.contacts?.[0]?.profile?.name || '';\n\nconst msg = entry.messages?.[0];\nconst msgType = msg?.type || 'text';\n\nlet textContent = '';\nlet mediaId = '';\nlet mediaUrl = '';\n\nif (msgType === 'text') {\n  textContent = msg?.text?.body || '';\n} else if (msgType === 'image') {\n  mediaId = msg?.image?.id || '';\n  mediaUrl = msg?.image?.url || '';          // ← YA viene la URL directa!\n  textContent = msg?.image?.caption || '[IMAGEN_ENVIADA]';\n} else if (msgType === 'document') {\n  mediaId = msg?.document?.id || '';\n  textContent = '[DOCUMENTO_ENVIADO]';\n}\n\nreturn [{\n  json: {\n    from,\n    phoneNumberId,\n    contactName,    // ← BONUS: nombre del contacto de WhatsApp\n    msgType,\n    textContent,\n    mediaId,\n    mediaUrl,       // ← URL directa disponible\n    hasImage: msgType === 'image'\n  }\n}];"
                        },
                        "type": "n8n-nodes-base.code",
                        "typeVersion": 2,
                        "position": [
                            -96,
                            624
                        ],
                        "id": "664a3582-84b2-4737-a6cf-eb2f6af6ed06",
                        "name": "Parsear Mensaje"
                    },
                    {
                        "parameters": {
                            "updates": [
                                "messages"
                            ],
                            "options": {
                                "messageStatusUpdates": [
                                    "failed"
                                ]
                            }
                        },
                        "type": "n8n-nodes-base.whatsAppTrigger",
                        "typeVersion": 1,
                        "position": [
                            -368,
                            624
                        ],
                        "id": "bc068abe-6c4f-4c46-8f35-3925968406b8",
                        "name": "WhatsApp Trigger1",
                        "webhookId": "214c5ca8-7753-4840-910b-047c359a0390",
                        "credentials": {
                            "whatsAppTriggerApi": {
                                "id": "uXVVQK04P6RDw5nN",
                                "name": "WhatsApp OAuth account 2"
                            }
                        }
                    },
                    {
                        "parameters": {
                            "method": "POST",
                            "url": "http://192.168.2.91:8033/whatsapp/interact",
                            "sendBody": true,
                            "bodyParameters": {
                                "parameters": [
                                    {
                                        "name": "telefono",
                                        "value": "={{ $('Parsear Mensaje').item.json.from }}"
                                    },
                                    {
                                        "name": "texto",
                                        "value": "={{ $('Parsear Mensaje').item.json.textContent }}"
                                    },
                                    {
                                        "name": "media_url",
                                        "value": "={{ $('HTTP Request3').isExecuted ? $('HTTP Request3').first().json.url : null }}"
                                    },
                                    {
                                        "name": "media_type",
                                        "value": "image"
                                    },
                                    {
                                        "name": "extracted_cedula",
                                        "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.extracted_cedula :null}}"
                                    },
                                    {
                                        "name": "extracted_nombre",
                                        "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.extracted_nombre :null}}"
                                    },
                                    {
                                        "name": "tipo_documento_detectado",
                                        "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.tipo_documento_detectado :null}}"
                                    },
                                    {
                                        "name": "extracted_id_tra",
                                        "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.extracted_id_tra :null}}"
                                    },
                                    {
                                        "name": "extracted_identificacion",
                                        "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.extracted_identificacion :null}}"
                                    },
                                    {
                                        "name": "extracted_valor",
                                        "value": "={{ $('Parsear IA').isExecuted ? $('Parsear IA').item.json.extracted_valor :null}}"
                                    }
                                ]
                            },
                            "options": {}
                        },
                        "type": "n8n-nodes-base.httpRequest",
                        "typeVersion": 4.1,
                        "position": [
                            1968,
                            576
                        ],
                        "id": "c5c03ddf-7475-4c05-adb3-cb1d51b0bc24",
                        "name": "Orquestador Backend"
                    },
                    {
                        "parameters": {
                            "operation": "send",
                            "phoneNumberId": "={{ $('Parsear Mensaje').first().json.phoneNumberId }}",
                            "recipientPhoneNumber": "={{ $('Parsear Mensaje').item.json.from }}",
                            "textBody": "={{ $json.mensaje }}",
                            "additionalFields": {
                                "previewUrl": false
                            }
                        },
                        "type": "n8n-nodes-base.whatsApp",
                        "typeVersion": 1.1,
                        "position": [
                            2144,
                            576
                        ],
                        "id": "81d49954-bf72-49e7-9efd-d99b51892d77",
                        "name": "Enviar Respuesta2",
                        "webhookId": "ef04f80c-bec6-46f4-9858-409cf0fcb0eb",
                        "credentials": {
                            "whatsAppApi": {
                                "id": "x3qXu5Ivicl8jtS4",
                                "name": "WhatsApp account 2"
                            }
                        }
                    },
                    {
                        "parameters": {
                            "url": "={{ $json.mediaUrl }}",
                            "sendHeaders": true,
                            "headerParameters": {
                                "parameters": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer EAAJYO0zVZB9IBQ1iqQSmHa1CwGSA470NaAjd5BB4hflyKFLgrThneW79ZBZAL4RmnzQJpMVpNryb19dm5Noz1NEZCoG5iUcOy8684LM7UqXEIBZCJrrNANoCt8bdIRgMi9NZBhycLEnKSJ7qfzknavfSh8plVtSYfXgJJRQOPAMm58MVlfshZAJLG5WGGBgZACsgnQZDZD"
                                    }
                                ]
                            },
                            "options": {}
                        },
                        "type": "n8n-nodes-base.httpRequest",
                        "typeVersion": 4.2,
                        "position": [
                            368,
                            368
                        ],
                        "id": "e8457d8d-2d3b-42e1-a495-005bca920b10",
                        "name": "1. Obtener URL de Imagen1",
                        "notes": "Llama a la API de Meta para obtener la URL temporal de la imagen. El media_id viene del mensaje."
                    },
                    {
                        "parameters": {
                            "jsCode": "// Convertir imagen binaria a base64 para enviarsela a OpenAI Vision\nconst binaryData = $input.first().binary?.data;\n\nif (!binaryData) {\n  throw new Error('No se recibió imagen binaria');\n}\n\n// n8n guarda el binario, lo pasamos como referencia\nconst base64Image = binaryData.data; // Ya viene en base64 desde n8n\nconst mimeType = binaryData.mimeType || 'image/jpeg';\n\n// Recuperar datos del mensaje original (de 2 nodos atrás)\n// Los pasamos como contexto para el agente\nreturn [{\n  json: {\n    base64Image,\n    mimeType,\n    imageDataUrl: `data:${mimeType};base64,${base64Image}`\n  },\n  binary: $input.first().binary\n}];\n"
                        },
                        "type": "n8n-nodes-base.code",
                        "typeVersion": 2,
                        "position": [
                            560,
                            352
                        ],
                        "id": "e034179c-d9b6-45cc-b62c-c631e803d0c4",
                        "name": "3. Preparar Base"
                    },
                    {
                        "parameters": {
                            "jsCode": "const binary = $input.first().binary?.data;\nconst json = $input.first().json;\n\nreturn [{\n  json: {\n    ...json,\n    // Guardar el binario como base64 en el JSON para no perderlo\n    imagenBase64: binary?.data || '',\n    imagenMimeType: binary?.mimeType || 'image/jpeg',\n    imagenFileName: binary?.fileName || 'colilla.jpg'\n  }\n  // NO pasar binary aquí, el agente no lo necesita\n}];"
                        },
                        "type": "n8n-nodes-base.code",
                        "typeVersion": 2,
                        "position": [
                            688,
                            336
                        ],
                        "id": "7f9c174e-589c-4f5f-a47c-9f2894433cf9",
                        "name": "Code in JavaScript5"
                    },
                    {
                        "parameters": {
                            "jsCode": "// Tomar el binario DIRECTO del nodo que descargó la imagen\nconst binary = $('1. Obtener URL de Imagen1').first().binary?.data;\n\nif (!binary) {\n  throw new Error('No se encontró binario en el nodo de descarga');\n}\n\nreturn [{\n  json: $input.first().json,\n  binary: {\n    data: binary  // binario original sin tocar\n  }\n}];"
                        },
                        "type": "n8n-nodes-base.code",
                        "typeVersion": 2,
                        "position": [
                            912,
                            336
                        ],
                        "id": "bbb5ed97-6cb7-4955-b107-4717ea28e049",
                        "name": "Code in JavaScript6"
                    },
                    {
                        "parameters": {
                            "method": "POST",
                            "url": "http://192.168.2.91:8033/upload-receipt?sorteo_nombre=WhatsApp",
                            "sendBody": true,
                            "contentType": "multipart-form-data",
                            "bodyParameters": {
                                "parameters": [
                                    {
                                        "parameterType": "formBinaryData",
                                        "name": "file",
                                        "inputDataFieldName": "data"
                                    },
                                    {
                                        "name": "key",
                                        "value": "=1"
                                    }
                                ]
                            },
                            "options": {}
                        },
                        "type": "n8n-nodes-base.httpRequest",
                        "typeVersion": 4.2,
                        "position": [
                            1040,
                            336
                        ],
                        "id": "a56f691e-ad56-4b53-a3b9-7f308257f0be",
                        "name": "HTTP Request3"
                    },
                    {
                        "parameters": {
                            "jsCode": "// Tomar el binario DIRECTO del nodo que descargó la imagen\nconst binary = $('1. Obtener URL de Imagen1').first().binary?.data;\n\nif (!binary) {\n  throw new Error('No se encontró binario en el nodo de descarga');\n}\n\nreturn [{\n  json: $input.first().json,\n  binary: {\n    data: binary  // binario original sin tocar\n  }\n}];"
                        },
                        "type": "n8n-nodes-base.code",
                        "typeVersion": 2,
                        "position": [
                            1168,
                            320
                        ],
                        "id": "0b871e8f-be74-48ca-bbde-85cddbc01086",
                        "name": "Code in JavaScript7"
                    },
                    {
                        "parameters": {},
                        "type": "n8n-nodes-base.merge",
                        "typeVersion": 3.2,
                        "position": [
                            1760,
                            576
                        ],
                        "id": "d93dd891-261d-4fd2-9db4-edd44935f574",
                        "name": "Merge1"
                    },
                    {
                        "parameters": {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "id": "check-image",
                                        "leftValue": "={{ $json.hasImage }}",
                                        "rightValue": true,
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "options": {}
                        },
                        "type": "n8n-nodes-base.if",
                        "typeVersion": 2,
                        "position": [
                            144,
                            576
                        ],
                        "id": "f177ee74-f95a-4977-aa0b-1379f27ecb7d",
                        "name": "¿Es Imagen?2"
                    },
                    {
                        "parameters": {
                            "promptType": "define",
                            "text": "={{ $binary.data.fileName }}",
                            "options": {
                                "systemMessage": "=Eres un experto en extracción de datos de documentos de identidad de Colombia (Cédula de Ciudadanía) y colillas de sorteos de lotería.\n\nTu objetivo es analizar la imagen proporcionada y extraer la información real en un formato JSON estricto.\n\n### DOCUMENTOS A PROCESAR:\n1. CÉDULA DE CIUDADANÍA:\n   - Extrae el número de cédula (sin puntos ni letras).\n   - Extrae el nombre completo de la persona.\n\n2. COLILLA DE SORTEO - HAY 2 POSIBLES FORMATOS:\n   FORMATO 1 - BETPLAY: La imagen en la parte superior dice \"CORREDOR EMPRESARIAL S.A\".\n       Extrae los siguientes datos: ID.TRA, IDENTIFICACION y VALOR RECARGA.\n   FORMATO 2 - CHANCE: Inicia con \"V:XXX***\".\n       De ese formato extrae únicamente: ID.TRA y TOTAL (el total está al final, ejemplo \"Total$6000\" → extraes \"6000\").\n   3. si es otro tipo de formato debes marcarlo como invalido.\n### REGLAS DE SALIDA:\n- Responde ÚNICAMENTE con un objeto JSON válido, sin texto adicional.\n- Si no encuentras un dato, ponlo como null.\n- Limpia los números eliminando puntos, comas o espacios.\n\n### ESTRUCTURA DEL JSON (usa EXACTAMENTE estos nombres de campo):\n{\n  \"extracted_cedula\": \"solo_numeros_o_null\",\n  \"extracted_nombre\": \"nombre_completo_o_null\",\n  \"tipo_documento_detectado\": \"cedula\" | \"betplay\" | \"chance\" | \"invalido\",\n  \"extracted_id_tra\": \"numero_del_id_tra_o_null\",\n  \"extracted_identificacion\": \"identificacion_o_null\",\n  \"extracted_valor\": \"valor_total_o_null\"\n}\n\nReglas:\n\nNunca inventar informacion. no procesar otros formatos de tiekts diferentes a betplay y chance\n"
                            }
                        },
                        "type": "@n8n/n8n-nodes-langchain.agent",
                        "typeVersion": 3.1,
                        "position": [
                            1328,
                            320
                        ],
                        "id": "6c53007a-616e-41cb-b8c1-29aa2d716866",
                        "name": "AI Agent"
                    },
                    {
                        "parameters": {
                            "model": {
                                "__rl": true,
                                "mode": "list",
                                "value": "gpt-4.1-mini"
                            },
                            "builtInTools": {},
                            "options": {}
                        },
                        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
                        "typeVersion": 1.3,
                        "position": [
                            1312,
                            480
                        ],
                        "id": "e27e42a3-b66c-4060-8175-2178cb749eac",
                        "name": "OpenAI Chat Model",
                        "credentials": {
                            "openAiApi": {
                                "id": "Y1SSWu05zhIDWuc3",
                                "name": "OpenAi account"
                            }
                        }
                    },
                    {
                        "parameters": {
                            "jsCode": "let output = $input.first().json.output || \"\";\n\n// 1. Limpiar bloques de código Markdown ```json ... ```\noutput = output.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\n// 2. Extraer el JSON real\nlet jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  return [{ \n    json: { \n      extracted_cedula: null, \n      extracted_nombre: null, \n      tipo_documento_detectado: null,\n      extracted_id_tra: null,\n      extracted_identificacion: null,\n      extracted_valor: null,\n      error: \"No se encontró JSON en la respuesta del agente\" \n    } \n  }];\n}\n\ntry {\n  let data = JSON.parse(jsonMatch[0]);\n  \n  return [{\n    json: {\n      extracted_cedula:          data.extracted_cedula         || null,\n      extracted_nombre:          data.extracted_nombre         || null,\n      tipo_documento_detectado:  data.tipo_documento_detectado || null,\n      extracted_id_tra:          data.extracted_id_tra         || null,\n      extracted_identificacion:  data.extracted_identificacion || null,\n      extracted_valor:           data.extracted_valor          || null\n    }\n  }];\n\n} catch (e) {\n  return [{ \n    json: { \n      extracted_cedula: null, \n      extracted_nombre: null, \n      tipo_documento_detectado: null,\n      extracted_id_tra: null,\n      extracted_identificacion: null,\n      extracted_valor: null,\n      error: \"JSON inválido: \" + e.message \n    } \n  }];\n}\n"
                        },
                        "type": "n8n-nodes-base.code",
                        "typeVersion": 2,
                        "position": [
                            1680,
                            320
                        ],
                        "id": "4538d0fb-86d3-4bd9-8892-b6e5f2b82638",
                        "name": "Parsear IA"
                    }
                ],
                "connections": {
                    "Parsear Mensaje": {
                        "main": [
                            [
                                {
                                    "node": "¿Es Imagen?2",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "WhatsApp Trigger1": {
                        "main": [
                            [
                                {
                                    "node": "Parsear Mensaje",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "Orquestador Backend": {
                        "main": [
                            [
                                {
                                    "node": "Enviar Respuesta2",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "1. Obtener URL de Imagen1": {
                        "main": [
                            [
                                {
                                    "node": "3. Preparar Base",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "3. Preparar Base": {
                        "main": [
                            [
                                {
                                    "node": "Code in JavaScript5",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "Code in JavaScript5": {
                        "main": [
                            [
                                {
                                    "node": "Code in JavaScript6",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "Code in JavaScript6": {
                        "main": [
                            [
                                {
                                    "node": "HTTP Request3",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "HTTP Request3": {
                        "main": [
                            [
                                {
                                    "node": "Code in JavaScript7",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "Code in JavaScript7": {
                        "main": [
                            [
                                {
                                    "node": "AI Agent",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "Merge1": {
                        "main": [
                            [
                                {
                                    "node": "Orquestador Backend",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "¿Es Imagen?2": {
                        "main": [
                            [
                                {
                                    "node": "1. Obtener URL de Imagen1",
                                    "type": "main",
                                    "index": 0
                                }
                            ],
                            [
                                {
                                    "node": "Merge1",
                                    "type": "main",
                                    "index": 1
                                }
                            ]
                        ]
                    },
                    "OpenAI Chat Model": {
                        "ai_languageModel": [
                            [
                                {
                                    "node": "AI Agent",
                                    "type": "ai_languageModel",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "AI Agent": {
                        "main": [
                            [
                                {
                                    "node": "Parsear IA",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    },
                    "Parsear IA": {
                        "main": [
                            [
                                {
                                    "node": "Merge1",
                                    "type": "main",
                                    "index": 0
                                }
                            ]
                        ]
                    }
                },
                "authors": "alejandro carvajal",
                "name": null,
                "description": null,
                "autosaved": false
            },
            "tags": []
        }